<%- include('../partials/header', { title: 'Error - Biblioteca de Babel' }) %>

<div class="alert alert-danger" role="alert">
  <%= message %>
</div>
<div class="text-center">
  <a href="/" class="btn btn-secondary">Volver al Inicio</a>
</div>

<%- include('../partials/footer') %>
